<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body ng-controller="myController">
<div id="container">Placeholder for chart</div>
<script>
    var chart_cpu = null;
    angular.module('myModule', [])
        .controller('myController', function ($scope, $http) {
            chart_cpu = Highcharts.chart('container',
                {

                    chart: {
                        type: 'spline',
                        zoomType: 'x',
                        events: {
                            load: requestCpuData // 图表加载完毕后执行的回调函数
                        }
                    },
                    title: {
                        text: 'Average cpu'
                    },
                    xAxis: {
                        type: 'datetime',
//      tickPixelInterval: 150,
//      maxZoom: 20 * 1000
                    },
                    yAxis: {
                        minPadding: 0.2,
                        maxPadding: 0.2,
                        title: {
                            text: 'percent',
                            margin: 80
                        }
                    },
                    credits: {
                        enabled: false // 禁用版权信息
                    },
                    series: [{
                        metric: 'cpu percent',
                        data: []
                    }]
                }
            );
            function sleep(numberMillis) {
    var now = new Date();
    var exitTime = now.getTime() + numberMillis;
    while (true) {
        now = new Date();
        if (now.getTime() > exitTime)
            return;
    }
}
            function requestCpuData() {
                $http({
                    url: 'getdata/',
                    method: 'GET',
                    params: {
                        'firsttime':'true',
                        'metric': 'cpu',
                        'cluster_id': 'cadvisor'
                    }
                }).success(function (response, status, headers, config) {
                    var series = chart_cpu.series[0],
                        shift = series.data.length > 20;
                    for (var i = 0; i < response.length; i++) {
                        var x = Date.parse(response[i].time);
                        x = x + 28800000;
                        var y = parseFloat(response[i].value);
                        chart_cpu.series[0].addPoint([x, y], false, shift);
                    }
                    chart_cpu.redraw();
                    setTimeout(updatecpudata, 1500);


                })
            }
            function updatecpudata(){
                $http({
                    url: 'getdata/',
                    method: 'GET',
                    data: {
                        'metric': 'cpu',
                        'cluster_id': 'cadvisor'
                    }
                }).success(function (response, status, headers, config) {
                    {#insertdata(response,0);#}
                    var series = chart_cpu.series[0],
                        shift = series.data.length > 20;
                    var x = Date.parse(response.time);
                 x = x + 28800000;
                 var y = parseFloat(response.value);
                 console.log("length is "+ series.data.length);
                 chart_cpu.series[0].addPoint([x, y], true, shift);
                 console.log("after the add, length is "+ series.data.length);
                 setTimeout(updatecpudata,1500);




                }).error(function (result) {
                    console.log("nimabi")
                })
            }
            function insertdata(cpudata,index){
                console.log("cpudata length is "+cpudata.length+" index is "+ index);

                if (cpudata.length -1-index===0){
                    console.log("hadh");
                    updatecpudata();
                }else{
                    var x = Date.parse(cpudata[index].time);
                 x = x + 28800000;
                 var y = parseFloat(cpudata[index].value);
                 chart_cpu.series[0].addPoint([x, y], true, false);
                 console.log("cao");
                 //sleep(1000);
                 setTimeout(insertdata(cpudata,index+1),2000);

                }

            }






            {% comment %}    function initCpuData() {
              $http({
               url: 'getdata/',
               method: 'GET',
               data: {
                   'metric': 'cpu',
                   'cluster_id': 'cadvisor'
               }
           }).success(function (response, status, headers, config) {
           var series = chart_cpu.series[0],
                   shift = series.data.length > 30;
           for(var i=0;i<response.length;i++)
           {
               var x= Date.parse(response[i].time);
               x = x + 28800000;
               var y = parseFloat(response[i].value);
               chart_cpu.series[0].addPoint([x, y], true, false);
           }
           updatecpudata(response);



           })



       }
       var cpudata=null;
       function updatecpudata() {
           if (cpudata==null){
               requestCpuData();
           }
           var series = chart_cpu.series[0],
                   shift = series.data.length > 30;
           console.log(cpudata);
           var x= Date.parse(cpudata[0].time);
           x = x + 28800000;
           var y = parseFloat(cpudata[0].value);
           chart_cpu.series[0].addPoint([x, y], true, false);
           delete cpudata[0]

       }
       function requestCpuData() {
           $http({
               url: 'getdata/',
               method: 'GET',
               data: {
                   'metric': 'cpu',
                   'cluster_id': 'cadvisor'
               }
           }).success(function (response, status, headers, config) {
               cpudata = response;


           })
       }
{% endcomment %}


        });
</script>
</body>
</html>