<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <script src="../static/angular.min.js"></script>
    <script src="../static/highcharts.js"></script>
</head>
<body ng-controller="myController">
<div id="cpugraph">Placeholder for cpugraph</div>
<div id="memorygraph">Placeholder for memorygraph</div>
<div id="rx_bytes">Placeholder for rx_bytes</div>
<div id="tx_bytes">Placeholder for tx_bytes</div>
<script>
    var chart_cpu = null, chart_mem = null, net_in = null, net_out = null;
    var container_namelist = ["influxdb"];
    angular.module('myModule', [])
        .controller('myController', function ($scope, $http) {
            chart_cpu = Highcharts.chart('cpugraph',
                {

                    chart: {
                        type: 'spline',
                        zoomType: 'x',

                    },
                    title: {
                        text: 'Average cpu'
                    },
                    xAxis: {
                        type: 'datetime',
//      tickPixelInterval: 150,
//      maxZoom: 20 * 1000
                    },
                    yAxis: {
                        minPadding: 0.2,
                        maxPadding: 0.2,
                        title: {
                            text: 'percent',
                            margin: 80
                        }
                    },
                    credits: {
                        enabled: false // 禁用版权信息
                    },
                }
            );
            chart_mem = Highcharts.chart('memorygraph',
                {

                    chart: {
                        type: 'spline',
                        zoomType: 'x',

                    },
                    title: {
                        text: 'Average memory'
                    },
                    xAxis: {
                        type: 'datetime',
//      tickPixelInterval: 150,
//      maxZoom: 20 * 1000
                    },
                    yAxis: {
                        minPadding: 0.2,
                        maxPadding: 0.2,
                        title: {
                            text: 'memory use /MB',
                            margin: 80
                        }
                    },
                    credits: {
                        enabled: false // 禁用版权信息
                    },
                }
            );
            net_in = Highcharts.chart('rx_bytes',
                {

                    chart: {
                        type: 'spline',
                        zoomType: 'x',

                    },
                    title: {
                        text: 'net in '
                    },
                    xAxis: {
                        type: 'datetime',
//      tickPixelInterval: 150,
//      maxZoom: 20 * 1000
                    },
                    yAxis: {
                        minPadding: 0.2,
                        maxPadding: 0.2,
                        title: {
                            text: 'net in  /MB',
                            margin: 80
                        }
                    },
                    credits: {
                        enabled: false // 禁用版权信息
                    },
                }
            );
            net_out = Highcharts.chart('tx_bytes',
                {

                    chart: {
                        type: 'spline',
                        zoomType: 'x',
                        events: {
                            load: requestData(container_namelist) // 图表加载完毕后执行的回调函数
                        }
                    },
                    title: {
                        text: 'net out'
                    },
                    xAxis: {
                        type: 'datetime',
//      tickPixelInterval: 150,
//      maxZoom: 20 * 1000
                    },
                    yAxis: {
                        minPadding: 0.2,
                        maxPadding: 0.2,
                        title: {
                            text: 'net out /MB',
                            margin: 80
                        }
                    },
                    credits: {
                        enabled: false // 禁用版权信息
                    },
                }
            );

            function sleep(numberMillis) {
                var now = new Date();
                var exitTime = now.getTime() + numberMillis;
                while (true) {
                    now = new Date();
                    if (now.getTime() > exitTime)
                        return;
                }
            }

            function requestData(container_namelist) {
                $http({
                    url: 'getdata/',
                    method: 'POST',
                    data: {
                        'firsttime': 'true',
                        'container_namelist': container_namelist
                    }
                }).success(function (response, status, headers, config) {
                    var whichchart = null;
                    for (var datatype in response) {
                        if (datatype === "tx_bytes") {
                            whichchart = net_out;
                        } else if (datatype === "rx_bytes") {
                            whichchart = net_in;
                        } else if (datatype === "memory_usage") {
                            whichchart = chart_mem;
                        } else if (datatype === "cpudata") {
                            whichchart = chart_cpu;
                        }
                        var index = 0;
                        for (var container_name in response[datatype]) {
                            whichchart.addSeries({
                                name: container_name,
                                data: []
                            });
                            var container_data = response[datatype][container_name];
                            for (var i = 0; i < container_data.length; i++) {
                                var x = Date.parse(container_data[i].time);
                                x = x + 28800000;
                                var y = parseFloat(container_data[i].value);
                                whichchart.series[index].addPoint([x, y], false, false);
                            }

                            index = index + 1;

                        }

                        whichchart.redraw();
                    }
                    setTimeout(updatedata, 1500, container_namelist);


                })
            }

            function updatedata(container_namelist) {
                $http({
                    url: 'getdata/',
                    method: 'POST',
                    data: {
                        'firsttime': 'false',
                        'container_namelist': container_namelist
                    }
                }).success(function (response, status, headers, config) {
                    var whichchart = null;
                    console.log(response);
                    for (var datatype in response) {
                        if (datatype === "tx_bytes") {
                            whichchart = net_out;
                        } else if (datatype === "rx_bytes") {
                            whichchart = net_in;
                        } else if (datatype === "memory_usage") {
                            whichchart = chart_mem;
                        } else if (datatype === "cpudata") {
                            whichchart = chart_cpu;
                        }
                        var index = 0;
                        for (var container_name in response[datatype]) {

                            var container_data = response[datatype][container_name];
                            var x = Date.parse(container_data.time);
                            x = x + 28800000;
                            var y = parseFloat(container_data.value);
                            whichchart.series[index].addPoint([x, y], false, true);

                            index = index + 1;

                        }

                        whichchart.redraw();
                    }


                    setTimeout(updatedata, 1500, container_namelist);


                }).error(function (result) {
                    console.log("nimabi")
                })
            }


        });
</script>
</body>
</html>